.Amount {
  margin-top: 30px;
  text-align: center;

  input.InputGroup-input {
    border: 0px;
    text-align: center;
    background-color: white;
    font-size: 24px !important;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;

    &:focus {
      outline: none;
      border: 0;
      box-shadow: none;
    }
  }

  span.InputGroup-context {
    display: none;
  }
}
