.Country {
  margin-top: 30px;
  text-align: center;
}

.Country-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.Country-box {
  flex-grow: 1;
  min-width: 33.33%;
  max-width: 33.33%;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding: 10px 22px;
  display: flex;
  align-items: center;

  &:nth-child(3n + 1) {
    border-left: 1px solid #f2f2f2;
  }

  &:nth-child(-n + 3) {
    border-top: 1px solid #f2f2f2;
  }

  &:hover {
    background-color: #f2f2f2;
  }

  span {
    font-size: 14px;
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
  }

  img {
    margin-right: 10px;
    width: 50px;
    border-radius: 18px;
  }
}

.Country-info {
  text-align: center;

  h3 {
    font-size: 18px;
    font-weight: lighter;
    line-height: 6px;
  }
}
