.Spinner {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 200px;

  &:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 3px solid;
    border-color: #1274c4 transparent #1274c4 #1274c4;
    animation: spinner 0.8s linear infinite;
    box-shadow: 0 0 0 16px #fff;
    background-color: #fff;
    margin-top: -20px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
