.Offer {
  margin-top: 30px;
  text-align: center;

  h3 {
    font-size: 18px;
    font-weight: lighter;
    line-height: 6px;
  }
}

.Offer-list {
  display: flex;
  text-align: center;
  justify-content: center;

  .Offer-box--basic {
    margin-bottom: 20px;
    flex: 1px;
  }

  .Offer-box--detailed {
    margin-bottom: 20px;
    flex: 1px;
    padding-top: 20px;

    .Offer-logo {
      margin-bottom: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Offer-list {
    flex-direction: column;
  }
}
