@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=latin-ext");
@import "~flystyles/src/config";
@import "~flystyles/src/_mixins";
@import "~flystyles/src/reboot";
@import "~flystyles/src/utilities";
@import "~flystyles/src/components/Alert/Alert";
@import "~flystyles/src/components/Button/Button";
@import "~flystyles/src/components/Input/Input";
@import "~flystyles/src/components/Autocomplete/Autocomplete";
@import "~flystyles/src/components/InputGroup/InputGroup";
@import "~flystyles/src/components/FileInput/FileInput";
@import "~flystyles/src/components/FormGroup/FormGroup";
@import "~flystyles/src/components/Label/Label";

.container {
  width: 640px;
  margin: 50px auto;
}

.Button--link {
  display: block;
  cursor: pointer;
  color: #5a687b;
  font-size: 14px;
  margin-top: 10px;
}
